# dependencies
node_modules

# output
dist
out
*.tgz
*.tsbuildinfo

# turbo
.turbo

# coverage
coverage
*.lcov

# logs
logs
*.log

# env
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

